.pagination {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  
  .pagination a {
    color: #ffffff;
  }
  
  .pagination__link_active a {
      border: 1px white solid;
      border-radius: 10%;
      padding: 0.5em 0.5em 0.5em 0.5em;
  }
  
  .pagination__link_disabled a {
    display: none;
    /* color: rgb(74, 74, 75); */
  }